@model IEnumerable<Encuestadora_Identity2.Models.OpcionPregunta>

@{
    ViewData["Title"] = "Opciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Mis Opciones de @ViewBag.Pregunta.tituloPregunta</h1>

<p>
    <a class="btn-link" href="/OpcionPregunta/Create?PreguntaId=@ViewBag.Pregunta.PreguntaId">Crear Opcion</a> |
    <a class="btn-link" href="/Pregunta?EncuestaId=@ViewBag.Pregunta.EncuestaId">Volver a Mis Preguntas</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tituloOpcion)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Pregunta)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tituloOpcion)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Pregunta.tituloPregunta)
            </td>*@
            <td>
                <a asp-action="Details" asp-route-id="@item.OpcionPreguntaId">Ver</a> |
                <a class="btn-link" href="/OpcionPregunta/Edit?id=@item.OpcionPreguntaId&PreguntaId=@item.PreguntaId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.OpcionPreguntaId">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
