@model Encuestadora_Identity2.Models.Encuesta

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Encuesta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="tituloEncuesta" class="control-label"></label>
                <input asp-for="tituloEncuesta" class="form-control" />
                <span asp-validation-for="tituloEncuesta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datetimeCreacionEncuesta" class="control-label"></label>
                <b>@Html.DisplayFor(model => model.datetimeCreacionEncuesta)</b>
                <input type="hidden" asp-for="datetimeCreacionEncuesta" class="form-control" />
                <span asp-validation-for="datetimeCreacionEncuesta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datetimeVencimientoEncuesta" class="control-label"></label>
                <b>@Html.DisplayFor(model => model.datetimeVencimientoEncuesta)</b>
                <input type="hidden" asp-for="datetimeVencimientoEncuesta" class="form-control" />
                <span asp-validation-for="datetimeVencimientoEncuesta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="puntosEncuesta" class="control-label"></label>
                <b>@ViewBag.puntosEncuesta</b>
                <input type="hidden" asp-for="puntosEncuesta" class="form-control" value="@ViewBag.puntosEncuesta" />
                <span asp-validation-for="puntosEncuesta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUserId" class="control-label"></label>
                <b>@Html.DisplayFor(model => model.ApplicationUserId)</b>
                <input type="hidden" asp-for="ApplicationUserId" class="form-control"/>
                <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
