@model Encuestadora_Identity2.Models.Encuesta

@{
    ViewData["Title"] = "Borrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Borrar</h1>

<h3>@Html.DisplayFor(model => model.tituloEncuesta)</h3>
<div>
    <h4>Usted esta seguro? </h4>
    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tituloEncuesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tituloEncuesta)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datetimeCreacionEncuesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datetimeCreacionEncuesta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datetimeVencimientoEncuesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datetimeVencimientoEncuesta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.puntosEncuesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.puntosEncuesta)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EncuestaId" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a class="btn-link" href="/Encuesta?userName=@User.Identity.Name">Volver a Encuestas</a>
    </form>
</div>
